/* Topbar Css Start TODO: */
.topbar_bg {
  background-color: var(--primary-color);
  width: 100%;
}
.topbar_bg .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0.5em;
}
.top_left {
  display: flex;
  align-items: center;
  gap: 1em;
}
.topbar_link {
  font-size: 1em;
  color: var(--secondary-dark-color);
}
.search_bar {
  background-color: var(--white-color);
  padding: 0.7em;
  border-radius: 50px;
  width: 35em;
  display: flex;
  align-items: center;
}
.search_bar input {
  border: none;
  outline: none;
  flex: 1;
}

.search_bar input::placeholder {
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--secondary-dark-color);
}
.top_right {
  border-left: 1px solid var(--secondary-color);
  padding-left: 1.5em;
  height: 2em;
  display: flex;
  align-items: center;
}
/* Topbar Css End TODO: */

/* Navbar Css Start TODO: */
.navbar {
  background: var(--secondary-color);
}
.logo h1 {
  font-size: var(--primary-font-size);
  color: var(--primary-color);
  font-weight: bold;
}
.logo h1 span {
  color: var(--white-color);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.nav_links {
  display: block;
}
.nav_links ul {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
.nav_link {
  font-size: 1em;
  color: var(--white-color);
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.nav_link:hover {
  color: var(--primary-color);
}

.nav_link.active {
  color: var(--primary-color);
}
/* Navbar Css End TODO: */

/* Mobile Menu Css Start TODO: */
.mobile_menu {
  width: 2.2em;
  height: 2.2em;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  display: none;
}
/* Mobile Menu Css End TODO: */

/* Hero Banner Start TODO: */
.hero_banner {
  background: linear-gradient(#0c0c0cbf, #070707cb),
    url("/images/carousel-2.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_banner .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.hero_content p{
    font-size: 1.25em;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 0.5em;
}
.hero_content h1{
    font-size: 3.5em;
    color: var(--white-color);
    font-weight: bold;
    max-width: 650px;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

.hero_content h1 span{
    color: var(--primary-color);
}
/* Hero Banner End TODO: */
